*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #b0b1b3;
}

/* .wrapper .left-sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
} */

.right-sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    right: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}


.sidenav {
    width: 225px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(5, 68, 104);
    overflow-x: hidden;
    /* display: flex; */
  }

  .sidenav a {
    padding: 40px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .nav-links {
    margin: auto;
  }

  .top-header {
      text-align: center;
      justify-content: center;
      display: flex;
  }
  
  .column {
    float: left;
    padding: 10px;
  }
  
  .left, .right {
    width: 15%;
  }
  
  .middle {
    width: 70%;
  }
  .category-image-content {
    width: 80%;
    margin: auto;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .bs-images {
    height: 400px;
    width: 200px;
    margin-right: 40px;
  }

  .carousel {
    height: 250px;
    position: relative;
  }

  .carousel .switchLeft,
  .carousel .switchRight {
    color: white;
    font-weight: bold;
    /* height: 100%; */
    width: 45px;
    /* line-height: 250px; */
    font-size: 25px;
    text-align: center;
    background-color: rgb(5, 68, 104);
    font-family: sans-serif;
    /* top: 0; */
    top: 42%;
    z-index: 3;
  }
  .carousel .switchLeft {
    position: absolute;
    left: -50px;
    cursor: pointer;
  }

  .carousel .switchRight {
    position: absolute;
    right: -50px;
    cursor: pointer;
  }

  .carouselbox {
    height: 250px;
    width: auto;
    overflow: scroll;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
  }

  .carouselbox img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: lightgreen;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
  }

  .carouselbox img:hover {
    transform: scale(1.4);
    z-index: 5;
  }

  .book-search {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .book-search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid gray;
    float:left;
    width: 50%;
    /* max-width: 800px; */
    background: #f1f1f1;
  }
  
  .book-search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid gray;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  .book-search button:hover {
    background: #0b7dda;
  }